:root {
    --second-color: #f5f6f7;
    --black-color: #0f2336;
    --black-hover: rgb(31, 30, 30);
    --blue: #00cccc;
    --second-color-light: #ffffffb2;
    --orange: #f3af47;
    --gray: #576d81;
    --input-color: #f0f0f2;
    --button-color: #DE3C3C;
}

/* 1200 */
/* 991 */
/* 768 */
/* 576 */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

main {
    flex-grow: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scroll-behavior: smooth;
    background-color: var(--white);
    font-family: "Roboto";
    font-weight: 400;
}

.container {
    margin: 0 auto;
    max-width: 1700px;
    padding: 0 80px;
}

.content-container {
    padding: 0 50px;
}

@media (max-width: 1200px) {
    .container {
        padding: 0 60px;
    }

}

@media (max-width: 991px) {
    .container {
        padding: 0 40px;
    }

    .content-container {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 16px;
    }
}

h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

main {
    flex-grow: 1;
}

.header__logo {
    display: flex;
    justify-content: flex-start;
}

.header__content {
    display: flex;
    padding-top: 40px;
    gap: 30px;
}

.header__nav {
    flex-grow: 1;
}

.header__nav-list {
    display: flex;
    justify-content: end;
    gap: 61px;
    font-size: 13px;
    font-weight: 300;
    color: #414141;
    padding-top: 18px;
}

.hero__btn {
    cursor: pointer;
    border: none;
    background-color: var(--button-color);
    border-radius: 4px;
    padding: 9px 20px 8px 20px;
    transition: box-shadow;
    transition-duration: 0.5s;
    gap: 5px;
    font-size: 13px;
    display: flex;
}

.hero__btn:hover {
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
}

.hero__btn-text {
    color: #FFFFFF;
}

.hero__btn-text-svg {
    gap: 15px;
}

.header__a {
    text-decoration: none;
    color: #414141;
    transition: color;
    transition-duration: 0.5s;
}

.header__a:hover {
    color: var(--button-color);
}

.section__first-content-left {
    display: flex;
    padding-top: 120px;
}

.section__first-content-right-ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 100px;
    padding-left: 107px;
}

.section__first-content-right-ul-text {
    color: #C5C5C5;
}

.section__first-btn {
    cursor: pointer;
    border: none;
    background-color: var(--button-color);
    border-radius: 4px;
    padding: 12px 20px 13px 20px;
    transition: box-shadow;
    transition-duration: 0.5s;
    gap: 5px;
    font-size: 13px;
    display: flex;
}

.section__first-btn:hover {
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
}


.section_two-ul-first {
    display: flex;
    flex-direction: column;
    padding-top: 235px;
    gap: 10px;
    padding-left: 100px;
}

.section_two-ul-first-text {
    color: #C5C5C5;
}

.section__two-img {
    display: flex;
    padding-left: 810px;
    height: 400;
}

.section_two-ul-two {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 870px;
    padding-top: 30px;
}

.section_two-ul-two-text {
    color: #C5C5C5;
}

.section__two-ul-three-text {
    color: #C5C5C5;
}

.section__ul-three {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 100px;
}

.section__two-ul-four {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 870px;
}

.section__two-ul-four-text {
    color: #C5C5C5;
}

.section__three {
    background-image: url(https://static.tildacdn.com/tild6135-6265-4262-b035-373866656635/imgix-391808-unsplas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section__three-ul-h3 {
    color: #FFFFFF;
}

.section__three-ul-h4 {
    color: var(--button-color);
}

.section__three-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 100px;
}

.section__three-btn {
    cursor: pointer;
    border: none;
    background-color: var(--button-color);
    border-radius: 4px;
    padding: 12px 20px 13px 20px;
    transition: box-shadow background-color;
    transition-duration: 0.5s;
    gap: 5px;
    font-size: 13px;
    display: flex;
}

.section__three-btn:hover {
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    background-color: #800000;
}

.section__four-ul {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap: 176px;
}

.section__four-ul-p {
    font-size: 32px;
}

.section__four-ul-p-small {
    color: #C5C5C5;
}

.section__four-img1 {
    position: relative;
    top: 500px;
    left: 150px;
}

.section__four-img2 {
    position: relative;
    top: 311px;
    right: 300px;
}

.section__four-img3 {
    position: relative;
    top: 400px;
    left: 130px;
}

.section__four-img4 {
    position: relative;
    top: 400px;
    left: 1000px;
}

.section__four-img5 {
    position: relative;
    top: 100px;
    left: 1000px;
}

